body{
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;

    
}
.top-bar {
    background-color: #ffc107;
    color: red;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
  }

h3{
    margin-top: 0%;
    margin-bottom: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20PX;
    font-size: bold; 
    font-size: x-large;
    background-color: #ffc107;
    height: 5vh;
    width: 70vw;
    justify-content: center;
    text-align: center;
    display: flex;
    color: rgb(255, 0, 0);
    font-weight: bold;

}
table {
    width: 70vw;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
  }

  th, td {
    border: 1px solid #adacac;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
    font-weight: bold;
  }


h4{
    background-color: rgb(75, 75, 207);
    height: 3vh;
    width: 9vw;
    border-radius: 2px;
    color: aliceblue;
}

h5{
    background-color: rgb(211, 80, 80);
    text-align: center;
    height: 3vh;
    width: 9vw;
    border-radius: 2px;
    color:  aliceblue;
}


button {
    border: #007bff;
    background-color: #007bff;
    font-size: 12px;
    width: 40px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}    
button2 {
    justify-content: center;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    width: 60px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
}

butto {
    cursor: pointer;
    padding: 10PX 16PX;
    margin-bottom: 20PX;
    justify-content: center;
    display: flex;
    color: aliceblue;
    width: 19vw;
    height: 2vh;
    background-color: rgb(115, 167, 231);
    border-radius: 5px
    
}
h2{
    font-weight: 600;
    font-family: Times New Roman, Times, serif;
}
